@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
@import 'mobile-menu';
@import 'slider';
@import 'modal';
@import 'cart';
@import 'media';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: $color-bg-body;
  color: $color-text-dark;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

section {
  margin-top: 99px;
}

.page {
  margin-top: 20px;
  padding: 0 16px 40px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.link,
.button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.button {
  border: 1px solid;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &-primary {
    width: 200px;
    border: none;
    background-color: $color-text-light;
    padding: 20px 78px;
    transition: all 0.3s ease;
  }

  &__text {
    position: relative;
    transition: transform 0.3s ease;
  }

  &__icon {
    display: none;
    width: 20px;
    height: 20px;
    opacity: 0;
    transform: translateX(8px);
    transition: all 0.3s ease;
  }

  &-secondary {
    border-color: $color-bg-container;
    background-color: transparent;
    padding: 10px 73px;
    transition: all 0.3s ease;
  }
}

.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2px;
  &-accent {
    font-style: italic;
    color: $color-text-accent;
  }
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bg-backdrop;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 10;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.error-message,
.loader {
  color: $color-text-dark;
  text-align: center;
  margin-top: 30px;
}
