.footer {
  margin-top: 93px;
  &__container {
    border-radius: 40px;
    background-color: $color-bg-container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: min(8vw, 100px);
  }
  &__offer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &-title {
      color: $color-text-light;
    }
    &-socials {
      display: flex;
      gap: 12px;
    }
    &-item {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-border-light;
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-text-light;

        .footer__offer-img path {
          stroke: $color-text-dark;
          transition: stroke 0.3s ease;
        }
      }
    }
    &-img {
      width: 24px;
      height: 24px;
      display: block;
    }
  }
  &__contacts {
    color: $color-text-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    &-item {
      display: flex;
      align-items: center;
      span {
        font-weight: 600;
        line-height: 165%;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      border-bottom: 2px solid transparent;
      padding-bottom: 4px;
      transition: border-color 0.3s ease;
      &:hover {
        border-bottom-color: $color-text-light;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
  &__menu {
    margin-top: 100px;
  }
}
