@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
@import 'mobile-menu';
@import 'media';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: $color-bg-body;
  color: $color-text-dark;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

section {
  margin-top: 100px;
}

.page {
  margin-top: 20px;
  padding: 0 16px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.link,
.button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.button {
  border: 1px solid;
  border-radius: 100px;
  &-primary {
    border: none;
    padding: 20px 78px;
    background-color: $color-text-light;
  }
}

.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2px;
  &-accent {
    font-style: italic;
    color: $color-text-accent;
  }
}

.hidden {
  display: none;
}